* {
    margin:0;
    padding:0;
    box-sizing: border-box;

}


.navbar {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: blueviolet;
    width: 100%;
    gap:50px;
    padding: 0 ,30px;
    height:65px;
}

.listbar { 
    display: flex;
    list-style: none;
    gap:30px;
    align-items: center;
    justify-content: center;
}

.linkbar {  
    color:blanchedalmond;
}