@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Poppins:wght@300;600&display=swap");

html {
    scroll-behavior: smooth;
    scroll-padding-top: 65px;
}



* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style-type:none;
    font-family: "indie flower";

}

/* Navbar e info  */

#menu-toggle, .menu-label
{
display:none;
}

header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(55, 49, 88);
    width: 100%;
    padding: 35px 40px;
    height:65px;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:150px;
}

.listbar { 
    display: flex;
    list-style: none;
    gap:30px;
    align-items: center;
    justify-content: center;
}

.listlink:hover {
    font-weight: 600;

}

.linkbar {  
    color:blanchedalmond;
    font-size: 18px;
}

.logo img {
    display: flex;
    align-items: center;
    width: 150px;
}

.login-signup {
    display:flex;
    align-items: center;
    gap:60px;
    justify-content: center;
    margin:2px;
    padding:8px;
    width: 110px;
}

.logicon {
    padding:0 0 5px 0;
    font-weight: 600;
    font-size: 20px;
    color: blanchedalmond;
    cursor:pointer;


}

.login-signup a {
    text-decoration: none;
}


.logicon .tooltiptext {
    font-size: 15px;
    visibility: hidden;
    background-color: blanchedalmond;
    color:black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 3px;
    margin-top: 20px;
    margin-left: -120px;
    


}
.logicon:hover , .linkbar:hover{
    color:yellowgreen;
}

.logicon:hover .tooltiptext{
    visibility: visible;


}


main {
    background-color: rgb(215, 185, 218);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#hero {
    display:flex;
    gap:40px;
    padding:50px;
    justify-content: center;
    align-items: center;
}

#hero img {
    width: 250px;

}


.info-hero {
    display: flex;
    flex-direction: column;
    gap:20px;
    width:50%;
    align-items: center;
    justify-content: center;


}
.info-hero h1 {
    font-size: 36px;
    font-weight: 1000;
    width: 80%;

}
.info-hero h2{
    font-size: 20px;
    width: 70%;
    font-weight: 500;
}



#info {
    margin-top: 20px;
    width: 50%;
    text-align: center;

}

#info h3 {
    font-size: 18px;
    font-weight: 300;
}

#info a {
    font-weight: 600;
    color: black;
}

/* Contacto */

#contacto {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    padding:10px;
    margin:30px;
}

.contacto-top-info img {
    width: 400px;
    border-radius: 20px;
}

.contacto-top-info{
    display:flex;
    gap:50px;
    padding:40px;
    align-items: center;
    

}
.cards-container {
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap:20px;
}

#info-cards {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
    gap:50px;
    max-width: 1200px;

}

#info-cards h2 {
    font-size: 38px;
    font-weight: 800;
    padding:20px;
}

.cards-cards {
width: 300px;
height: 290px;
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
background-color: rgb(55, 49, 88);
border-radius:10px ;
gap:16px;
padding: 35px 30px;
}

.cards-cards img {
    width: 50px;
    border-radius: 20px;
}


.cards-cards h3 {
    font-weight: 600;
    font-size: 30px;
    color: rgb(169, 118, 218);
}
.cards-cards p {
    font-size:17px;
    color:rgb(228, 139, 236);
}

/* Servicios */

#servicios {
    display:flex;
    flex-direction: column;
    width: 90%;
    margin:10px 10px 40px 10px;
    align-items: center;
    justify-content: center;
    gap:20px;
    padding: 0 40px;
    
} 

#servicios h2 {
    font-size: 38px;
    font-weight: 800;
    padding:30px;
} 
.servicios-cards {
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding:5x;
    border-radius: 10px;
    background-color: rgb(55, 49, 88);
    width: 30%;

}

.servicios-cards h3  {
    margin-top: 20px;
    font-size: 25px;
    color:rgb(228, 139, 236);
    
}
.servicios-cards h4  {
    margin-top: 10px;
    padding:5px;
    font-size: 25px;
    color:blanchedalmond;
}

.servicios-container{
    display:flex;
    gap:60px;

}

.servicios-cards img{
    width: 60%;
    border-radius: 60px;
    padding:20px 0 ;
    
}

.btn-add {

        background:rgb(193, 153, 226);
        border: none;
        padding: 10px 35px;
        color: black;
        border-radius: 10px;
        cursor: pointer;
        margin:10px 0;
        font-size:15px;
        font-weight: 1000;
        cursor:pointer;
        transition-property: all;
        transition-duration: 1s;

    }

.btn-add:hover {
    transition-property: all;
    transition-duration: 1s;
    background-color: rgb(249,248,191);

}

/* Contacto */


.contacto-container {
    padding:20px;
    display: flex;
    flex-direction: column;
    gap:20px;
    text-align: left;
    justify-content:center;  
}
.contacto-container h3{
    font-size:45px;
}

.contacto-datos {
    display: flex;
    flex-direction: column;
    gap:10px;
}
.contacto-datos h4 {
    font-size:25px;
}

.lista-datos {
    list-style-position:inside;
    font-size: 18px;
    align-items: center;
}
.lista-datos li {
    padding:10px;
}
.lista-datos img {
    width: 22px;
}

.btn-consulta {
    font-weight: 800;
    cursor:pointer;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding:6px 8px;
    background-color: rgba(255, 235, 205, 0.747);
    border-radius: 10px;
}
.btn-consulta:hover{
    color:#7b00ff;
}

.logos-redes {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: left;
    gap:20px;
}

.logos-redes a img {
    width:23px;
}


/* Footer-bottom */

.footer-bottom { 
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:5px;



}

.footer-bottom img {
    width: 150px;
    
}

.footer-bottom p {
    font-size: 15px;
    padding: 0 0 10px 0;
}

/* Formulario de contacto */

.overlayform {
    position:fixed;
    transition:opacity 500ms;
    top:0;
    bottom:0;
    right:0;
    left:0;
    visibility: hidden;
    opacity:0;
    justify-content: center;
    color:rgb(228, 139, 236);


}
.overlayform:target {
    visibility: visible;
    opacity:1;
}

#form-contacto {
    background-color:rgb(55, 49, 88);
    display:flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    margin-left: 40%;
    margin-top: 10%;
    width: 300px;
    height: 420px;
    padding:20px;
    border-radius: 20px;
    gap:10px;
}

#form-contacto h2{
    font-size: 20px;
    color: rgb(228, 139, 236);

}

.datos-label {
    font-weight:600;
    font-size:16px;
}
#edad, #email {
    border-radius: 5px;
    padding:0 5px;
}

.divsexo {
    display:flex;
    flex-direction: row;
    gap:5px;
}

.divsexo h5 {
    font-size:16px;
    font-weight: 600;
}

.form-caja {
    font-size: 16px;
    font-weight: 600;

}

.form-cerrar {
    position:absolute;
    top:1%;
    left:90%;
    font-size: 30px;
    color: rgb(228, 139, 236);

}

.box-enviar {
    display: flex;
    justify-content: center;
}
.form-enviar {
    font-size: 16px;
    background:rgb(193, 153, 226);
    border: none;
    padding: 10px 15px;
    color: black;
    border-radius: 10px;
    margin: 0 , 15px;
    width: fit-content;
    
}




